*{
	margin: 0;
	padding: 0;
}
#d1{
	width: 300px;
	height: 400px;
	text-align: center;
	background: darkgray;
	margin: 20px;
}
#p1{
	width: 300px;
	height: 250px;
}
#p2{
	width: 300px;
	height: 150px;
}
.p1{
	width: 250px;
	height: 250px;
	  font-family:"iconfont" !important;
	  font-size:200px;
	  font-style:normal;
  
 	position: absolute;
	margin-top:5px;
	margin-left: 25px;
	border-width: 10px;
	border:0px solid black;
	
  /*-webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;*/
}
.p2{
	width: 150px;
	height: 50px;
	font-size: 40px;
	position: absolute;
	margin-top:-100px;
	margin-left: 65px;

	border-width: 10px;
	border:0px solid black;
	background: gray;
}



@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}

#d1:hover .p2,
#d1:hover .p1{
	background: dodgerblue;
}
